{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="courses xlSize">
            <div class="header"><h1>Add Event</h1></div>
            <form action="" method="post" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nama Event</label>
                    <input type="text" class="form-control" name="name" id="name" aria-describedby="eventNameHelp">
                    <small id="eventNameHelp" class="form-text text-muted">Tell us about your event</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}