{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="courses">
        <div class="header"><h1>Event List</h1></div>
        <button type="button" class="btn btn-primary btn-lg my-2" onclick="location.href='{% url 'story6:addEvent' %}'">Add Event</button>
        {% if event is not none %}
            <div class="table">
                {% for i in event %}
                <div class="card">
                    <h5 class="card-header">{{ i.name }}</h5>
                    <div class="card-body">
                    <h5 class="card-title">Member :</h5>
                    <ul class="list-group">
                    {% for j in member %}
                        {% if j.event == i %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{j.name}}</span>
                                <a class="material-icons text-danger text-decoration-none" href="{% url 'story6:deleteMember' j.id %}">delete</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <button type="button" class="btn btn-info my-2" onclick="location.href='{% url 'story6:addMember' id=i.id %}'">Add Member</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <h1>Event Not Exist</h1>
        {% endif %}
    </div>
</div>

{% endblock content %}