{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="container" id="accordion">
    <div class="one">
            <!-- it might be this one div causing it to not function properly -->
            <h3>Activites
                <span style="float: right; padding-right: 2%;">
                    <a class='up'>Λ</a>
                    <a class='down'>V</a>
                </span>
            </h3>    
            <div>
                <h5>Activities that I have been doing are doing my assignments, studying, and particiating in organizations. Occasionally, I watch movies from netflix.</h5>
            </div>
    </div>
    <div class="one">
            <h3>Experiences<span style="float: right; padding-right: 2%;">
                    <a class='up'>Λ</a>
                    <a class='down'>V</a>
                </span>
            </h3>
            <div>
                <h5>In Fasilkom, I was staff of Startup Academy and I'm currently the Project Officer of EDUCARE 2021</h5>
            </div>

    </div>
    <div class="one">
        <h3>Achievements
            <span style="float: right; padding-right: 2%;">
                <a class='up'>Λ</a>
                <a class='down'>V</a>
            </span>
        </h3>
        <div>
            <h5>I was an awardee of Asia Kakehashi Project, a scholarship program for student exchange to Japan.</h5>
        </div>
    </div>
    <div class="one">
        <h3>My Page
            <span style="float: right; padding-right: 2%;">
                <a class='up'>Λ</a>
                <a class='down'>V</a>
            </span>
        </h3>
            
        <div>
            <h5>Go visit my page: rizma-chaerani.herokuapp.com</h5>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</div>

{% endblock content %}