<!doctype html>
<html lang="en">

    {% load static %}


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/story1.css' %}"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <section id="firstpart">
        <div class="container">
            <div class="row justify-content-center first-part first-text">
                <h2 class="text" id="hey">Hello👋</h2>
            </div>
            <div class="row justify-content-center first-part">
                <h1 class="text" id="itsrizma"><strong>Rizma</strong>'s here!</h1>
            </div>
            <div class="row justify-content-center">
                <a href="#about-me">
                    <h4 class="text" id="gettoknowmore"><Strong>get to know more about me</Strong></h4>
                    <h4 class="text-center">👇</h4>
                </a>
            </div>
        </div>
    </section>

    <section id="secondpart">
        <div class="container">
            <div class="row about-me" id="about-me">
                <div class="col-lg-5 col-md-8 text-center justify-content-sm-center">
                    <img src="{% static 'images/mypicture.svg' %}" class="img-fluid" alt="Responsive image" id="my-image">
                </div>
                <div class="col-lg-7 col-md-8">
                    <div class="row text about-me-text">
                        <p>My name is <strong>Rizma Chaerani (1906299111)</strong> and I'm one of batch <strong>2019</strong> students majoring in <strong>Information Systems</strong> in the <strong>Faculty of Computer Science, Universitas Indonesia</strong>. During the pandemic, I have developed some new hobbies, including <strong>brewing coffee and deepening my knowledge about the science behind coffee brewing</strong>. I'm currently attending Web Design and Programming class and this website is one of the assignments I received. </p>
                    </div>
                </div>
            </div>

            <div class="row last-row">
                <div class="col-lg-7">
                    <div class="card edu-card">
                        <div class="card-body">
                            <h3 class="text text-center edu-text"><i><strong>Education</strong></i></h3>
                            <table class="text education-table">
                                <tr>
                                    <td class="image text-center"><img src="{% static 'images/ui.svg' %}" class="logo-image" id="ui"></td>
                                    <td class="table-text pt-3">
                                        <h5><strong>University of Indonesia</strong></h5>
                                        <h6>Information Systems</h6>
                                        <p>2019 - Present</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image text-center"><img src="{% static 'images/sma17.svg' %}" id="sma17"></td>
                                    <td class="table-text pt-3">
                                        <h5><strong>SMA Plus Negeri 17 Palembang</strong></h5>
                                        <p>2016 - 2019</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image text-center"><img src="{% static 'images/smp9.svg' %}" class="logo-image" id="smp9"></td>
                                    <td class="table-text pt-3">
                                        <h5><strong>SMP Negeri 9 Palembang</strong></h5>
                                        <p>2013 - 2016</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-5 socmed-col">
                        <div class="row justify-content-center">
                            <h3 class="text text-center socmed-text" id="uppersocmed">feel free to<strong> stop by</strong></br>and<strong> say hi!</strong></h3>
                        </div>
                        <div class="row justify-content-center">
                            <a href="https://instagram.com/rizmachaeranii" target="_blank">
                                <img src="{% static 'images/instagram.svg' %}" alt="" class="socmed">
                            </a>
                            <a href="https://twitter.com/rizmachaeranii" target="_blank">
                                <img src="{% static 'images/twitter.svg' %}" alt="" class="socmed">
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <a href="https://www.linkedin.com/in/rizma-chaerani-heidy-p-149359194/" target="_blank">
                                <img src="{% static 'images/linkedin.svg' %}" alt="" class="socmed">
                            </a>
                            <a href="https://wa.me/6282281019116">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="" class="socmed">
                            </a>
                        </div>
                        <div class="row justify-content-center">
                            <h2 class="text text-center socmed-text" id="lowersocmed">🙌</h2>
                        </div>
                    </div>
                </div>
            </div>
                <div class="d-flex justify-content-center mb-5">
                    <a href="{% url 'main:home'%}">
                        <button type="button" class="btn btn-success button">STORY 4</button>
                    </a>
                </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>