{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 socmed-col">
            <div class="row justify-content-center align-content-center">
                <h3 class="" id="uppersocmed">feel free to<strong> stop by</strong></br>and<strong> say hi!</strong></h3>
            </div>
            <div class="row justify-content-center">
                <a href="https://instagram.com/rizmachaeranii" target="_blank">
                    <img src="{%static 'contact/instagram.svg'%}" alt="" class="socmed">
                </a>
                <a href="https://twitter.com/rizmachaeranii" target="_blank">
                    <img src="{%static 'contact/twitter.svg'%}" alt="" class="socmed">
                </a>
            </div>
            <div class="row justify-content-center">
                <a href="https://www.linkedin.com/in/rizma-chaerani-heidy-p-149359194/" target="_blank">
                    <img src="{%static 'contact/linkedin.svg'%}" alt="" class="socmed">
                </a>
                <address>
                    <a href="mailto:rizmachaerani@gmail.com">
                        <img src="{%static 'contact/Mail.svg'%}" alt="" class="socmed pt-2">
                    </a>
                </address>
            </div>
            <div class="row justify-content-center">
                <h2 class="text text-center socmed-text" id="lowersocmed">🙌</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center pt-5">
        <h5 id="contact-bottom">also, kindly check my projects<br><a href="{% url 'story1:index'%}">
            <strong id="strong-text-2">Story 1</strong></a><br><a href="{% url 'main:matakuliah'%}">
            <strong id="strong-text-2">Story 5</strong></a><br>
            thank you! xx</h5>    
    </div>
</div>
{% endblock content %}