{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container justify-content-center">
    <div class="row text-center justify-content-center">
        <h3>Detail Mata Kuliah {{ matkul.name }} </h3>
    </div>
    <div class="d-flex justify-content-center">
        <table>
            <tr>
                <td>Pengajar</td>
                <td class="pl-3">: {{ matkul.dosen }}</td>
            </tr>
            <tr>
                <td>Jumlah SKS</td>
                <td class="pl-3">: {{ matkul.sks }}</td>
            </tr>
            <tr>
                <td>Deskripsi</td>
                <td class="pl-3">: {{ matkul.deskripsi }}</td>
            </tr>
            <tr>
                <td>Tahun</td>
                <td class="pl-3">: {{ matkul.semthn }}</td>
            </tr>
            <tr>
                <td>Ruang Kelas</td>
                <td class="pl-3">: {{ matkul.kelas }}</td>
            </tr>
        </table>
    </div>
    <div class="row justify-content-center text-center">
        <a class="pt-5" href="{% url 'main:matakuliah'%}" style="color: white;">👈 Back</a>
    </div>
</div>
{% endblock content %}