{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="experience-section">
    <div class="container experience-section justify-content-md-center mb-5">
        <div class="row">
              <div class="col-lg-6 col-md-12 pt-3 pl-5">
                  <div class="row">
                      <a href="{% url 'main:randomFacts'%}">
                          <h2 id="experience"><strong>Experience</strong></h2>
                      </a>
                  </div>
                  <div class="row">
                      <table>
                          <tr>
                              <td>
                                  <h5 class="pt-3"><strong>Asia Kakehashi Project</strong></h5>
                                  <h6>Returnee</h6>
                                  <p>2018 - 2019</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>COMPFEST12</strong></h5>
                                  <h6>Staff of Startup Academy</h6>
                                  <p>2020</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>TOSKA UI 2020</strong></h5>
                                  <h6>Staff of Ticketing</h6>
                                  <p>2020</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>BEM Fasilkom UI</strong></h5>
                                  <h6>Staff of Business and Partnership Bureau</h6>
                                  <p>2020</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>Keluarga Mahasiswa Sriwijaya UI</strong></h5>
                                  <h6>Staff of Internal Development</h6>
                                  <p>2020</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>TOSKA UI 2021</strong></h5>
                                  <h6>PIC  of Ticketing</h6>
                                  <p>2021</p>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <h5><strong>Bina Antarbudaya</strong></h5>
                                  <h6>Volunteer</h6>
                                  <p>2016 - Present</p>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
              <div class="col pt-3 pl-5" id="right-side">
                  <div class="row">
                      <h2 id="edu"><strong>Education</strong></h2><br>
                  </div>
                  <div class="row">
                      <table class="education-table">
                          <tr>
                              <td class="image logo-image text-center"><img src="{%static 'aboutMe/ui.svg'%}" id="ui"></td>
                              <td class="table-text pt-3 pl-3">
                                  <h5><strong>University of Indonesia</strong></h5>
                                  <h6>Information Systems</h6>
                                  <p>2019 - Present</p>
                              </td>
                          </tr>
                          <tr>
                              <td class="image text-center"><img src="{%static 'aboutMe/sma17.svg'%}" id="sma17"></td>
                              <td class="table-text pt-3 pl-3">
                                  <h5><strong>SMA Plus Negeri 17 Palembang</strong></h5>
                                  <p>2016 - 2019</p>
                              </td>
                          </tr>
                          <tr>
                              <td class="image logo-image text-center"><img src="{%static 'aboutMe/smp9.svg'%}" id="smp9"></td>
                              <td class="table-text pt-3 pl-3">
                                  <h5><strong>SMP Negeri 9 Palembang</strong></h5>
                                  <p>2013 - 2016</p>
                              </td>
                          </tr>
                      </table>
                  </div>
                  <div class="row button-row mb-5 d-flex justify-content-center justify-content-md-start m-0">
                      <a href="{% url 'main:contact'%}">
                          <button type="button" class="btn btn-primary button" id="contact-button"><h4 class="btn-text">let's get in touch</h4></button>
                        </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}