{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="section1">
      <div class="container">
        <img src="{% static 'home/blob1.svg'%}" id="blob" alt="">
        <div id="helloname">
          <h1 id="name"><span id="hello">Hello👋</span><br>Rizma's here!</h1>
        </div>
        <div id="gettoknowmorediv">
          <a href="{% url 'main:home'%}#section2">
          <h4 class="text" id="gettoknowmore">get to know more 👇</h4>
          </a>
        </div>
      </div>
    </section>

    <section id="section2" class="about-me">
      <div class="container">
          <div class="row about-me-row text-center justify-content-sm-center align-self-sm-center">
              <div class="col-lg-4">
                  <img class="img-fluid" src="{% static 'aboutMe/image2.svg'%}" id="image" alt="Responsive Image">
              </div>
              <div class="col-lg-8">
                  <div class="row">
                      <p class="pt-2" id="about-me-text"><span id="about-me-title">About Me<br></span> My name is <strong>Rizma Chaerani (1906299111)</strong> and I'm one of batch <strong>2019</strong> students majoring in <strong>Information Systems</strong> in the <strong>Faculty of Computer Science, Universitas Indonesia</strong>. During the pandemic, I have developed some new hobbies, including <strong>brewing coffee and deepening my knowledge about the science behind coffee brewing</strong>. I'm currently attending Web Design and Programming class and this website is one of the assignments I received. </p>
                  </div>
                  <div class="d-flex justify-content-center justify-content-lg-start m-0">
                    <a href="{%url 'main:experience'%}">
                      <button type="button" class="btn btn-danger button img-fluid" alt="Responsive Image"><h4 class="btn-text">education and experience</h4></button>
                    </a>
                  </div>
              </div>
          </div>
      </div>
    </section>
{% endblock content %}
