{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center justify-content-center">
        <h3>Catatan Mata Kuliah</h3>
    </div>
    <div class="d-flex justify-content-center">
        <form  method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td id="namaMatkul">Mata Kuliah: </td>
                    <td class="pl-3">: {{ form.name }}</td>
                </tr>
                <tr>
                    <td id="dosen">Pengajar: </td>
                    <td class="pl-3">: {{ form.dosen }}</td>
                </tr>
                <tr>
                    <td id="sks">Jumlah SKS: </td>
                    <td class="pl-3">: {{ form.sks }}</td>
                </tr>
                <tr>
                    <td id="deskripsi">Deskripsi: </td>
                    <td class="pl-3">: {{ form.deskripsi }}</td>
                </tr>
                <tr>
                    <td id="semthn">Tahun: </td>
                    <td class="pl-3">: {{ form.semthn }}</td>
                </tr>
                <tr>
                    <td id="kelas">Ruang Kelas: </td>
                    <td class="pl-3">: {{ form.kelas }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="2">
                        <input type="submit" value="Add"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row justify-content-center">
        <h3>List Mata Kuliah</h3>
    </div>
    <div class="row justify-content-center">
        <table>
            {% for matkul_item in matkul %}
            <tr>
                <td><a href="{% url 'main:detailMataKuliah' matkul_item.id %}" style="color: white;">{{ matkul_item.name }}</a></td>
                <td class="pl-5"><a href="{% url 'main:formDelete' matkul_item.id %}"> Delete </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
