{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row ">
      <div class="col justify-content-center text-center">
        <h1 class="text-center pb-2"id="randomfactstitle">
             just some <strong>random facts</strong> about me :)
         </h1>
          <h5 class="p-2">I have <strong class="strong-text">seven cats</strong>, you can call me the mother of cats!</h5>
          <h5 class="p-2">I really want to own a <strong class="strong-text">tiny house/van house</strong>, all for myself</h5>
          <h5 class="p-2">I want to live in <strong class="strong-text">Jogja, Bali, or Europe</strong> for they have beautiful sceneries!</h5>
          <h5 class="p-2">I <strong class="strong-text">binge watch netflix</strong> series in my free time :D</h5>
          <h5 class="p-2">I'd love to work in a <strong class="strong-text">tech company</strong class="strong-text"> while<br><span>also having the freedom from <strong class="strong-text">owning a business</strong></span></h5>
      </div>
    </div>
  </div>
  {% endblock content %}